.approvalFlow{
  background-color:#F8F9FB;
  display: flex;
  margin-bottom: 80px;
  .line-end-arrow{
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    border-style: solid;
    border-width: 8px 5px 4px;
    border-color: #DBDBDB transparent transparent;
  }
  .add-node-btn-box{
    width: 240px;
    display: inline-flex;
    flex-shrink: 0;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      margin: auto;
      width: 2px;
      height: 100%;
      background-color: #DBDBDB;
    }
		.add-node-menu-wrap{
			position: absolute;
			left: 60%;
			top: 10px;
			z-index: 11;
			.add-node-menu{
				display: inline-flex;
				flex-direction: row;
				box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
				border-radius: 6px;
				overflow: hidden;
			}
			.menu-item{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				font-size: 12px;
				width: 90px;
				min-width: 90px;
				height: 74px;
				margin-right: 1px;
				background-color: #fff;
				cursor: pointer;
				z-index: 10;
				&:hover{
					background-color: rgba(250, 250, 250, 1.0);
				}
			}
			.menu-approver{
				color: #FCAD22;
			}
			.menu-notifier{
				color: #3CB4B2;
			}
			.menu-branch{
				color: #88939F;
			}
			.menu-item-icon{
				display: block;
				margin-bottom: 4px;
				font-size: 30px;
			}
		}
		.add-node-menu-left {
			left: -75% !important;
			&::after{
				content: '';
				position: absolute;
				display: block;
				width: 8px;
				height: 8px;
				transform: rotate(45deg);
				border-style: solid;
				border-width: 4px;
				border-color: #fff;
				right: -2px;
				top: 30px;
			}
		}
		.add-node-menu-right{
			&::before{
				content: '';
				position: absolute;
				display: block;
				width: 8px;
				height: 8px;
				transform: rotate(45deg);
				border-style: solid;
				border-width: 6px;
				border-color: #fff;
				left: -4px;
				top: 30px;
			}
		}
    .add-node-btn{
      user-select: none;
      width: 240px;
      padding: 35px 0 35px;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
      flex-grow: 1;
      .btn{
        position: relative;
        outline: none;
        width: 30px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        .svg-icon{
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  
  .branch-wrap{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    .branch-wrap-box{
      display: flex;
      position: relative;
      .branch-box{
        display: flex;
        min-height: 180px;
        margin-top: 15px;
        border-top: 2px solid #DBDBDB;
        border-bottom: 2px solid #DBDBDB;
        .add-branch{
          width: 84px;
          height: 34px;
          background-color: #fff;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 0px;
          border-radius: 4px;
          box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
          font-size: 14px;
          color: #4A94FF;
          text-align: center;
          line-height: 34px;
          z-index: 21;
          font-family: PingFangSC-Medium;
          cursor: pointer;
          user-select: none;
					&:hover{
					  box-shadow: 0px 1px 8px 0px #88939F;
					}
        }
        .col-box{
          display: inline-flex;
          align-items: center;
          flex-direction: column;
          position: relative;
          padding: 0 20px;
          background-color: #F8F9FB;
          &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            margin: auto;
            width: 2px;
            height: 100%;
            background-color: #DBDBDB;
          }
          .top-left-cover-line{
            position: absolute;
            height: 3px;
            width: 50%;
            background-color: #F8F9FB;
            top: -3px;
            left: -1px;
          }
          .bottom-left-cover-line{
            position: absolute;
            height: 3px;
            width: 50%;
            background-color: #F8F9FB;
            bottom: -3px;
            left: -1px;
          }
          .top-right-cover-line{
            position: absolute;
            height: 3px;
            width: 50%;
            background-color: #F8F9FB;
            top: -2px;
            right: -1px;
          }
          .bottom-right-cover-line{
            position: absolute;
            height: 3px;
            width: 50%;
            background-color: #F8F9FB;
            bottom: -2px;
            right: -1px;
          }
        }
      }
    }
  }
}
.approvalFlow-content{
  flex: 1;
}
.node-container{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  .node-box{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 240px;
    min-height: 92px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 10;
    .title{
      position: relative;
      display: flex;
      align-items: center;
      height: 36px;
      border-radius: 4px 4px 0 0;
      font-family: PingFangSC-Medium;
      font-size: 14px;
      padding: 0 14px;
      background: #eef4fb;
      color: #88939F;
      ::after{
        content: '';
        position: absolute;
        display: inline-block;
        height: 4px;
        width: 100%;
        top: 0;
        left: 0;
        background: #88939F;
        border-radius: 2px 2px 0 0;
      }
    }
    .node-title-name{
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 76%;
    }
    .node-title-operate{
      display: none;
      flex: 1;
      flex-direction: row-reverse;
    }
    .node-title-priority{
      text-align: right;
      font-size: 14px;
      color: #88939F;
      flex-shrink: 0;
    }
    .content{
      display: flex;
      align-items: center;
      flex-grow: 1;
      padding: 16px 14px;
    }
    .content-text{
      font-family: PingFangSC-Regular;
      flex: 1;
      font-size: 14px;
      color: #141414;
      word-break: break-all;
      line-height: 1.8;
    }
  }
  .node-creator{
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    .title{
      background: #E9F2FF;
      color: #4A94FF;
      ::after{
        background: #4A94FF;
      }
    }
    &:hover{
      box-shadow: 0px 1px 8px 0px #4A94FF;
    }
  }
  .node-approver{
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    .title{
      background: #fff9ee;
      color: #FCAD22;
      ::after{
        background: #FCAD22;
      }
    }
    &:hover{
      box-shadow: 0px 1px 8px 0px #FCAD22;
    }
  }
  .node-notifier{
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    .title{
      background: #e6f8f8;
      color: #3CB4B2;
      ::after{
        background: #3CB4B2;
      }
    }
    &:hover{
      box-shadow: 0px 1px 8px 0px #3CB4B2;
    }
  }
  .node-condition{
		display: inline-flex;
		flex-direction: column;
		box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		margin-top: 50px;
		margin-right: 50px;
		margin-left: 50px;
    .title{
      background: #eef4fb;
      color: #88939F;
      ::after{
        background: #88939F;
      }
    }
    &:hover{
      box-shadow: 0px 1px 8px 0px #88939F;
    }
  }
  .node-end{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    min-height: 56px;
    height: 56px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: default;
    font-size: 15px;
  }
}